
*{
    font-family: 'Lato';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
  background-color: $background;
  
  *{
    color: $textcolor;
  }
}
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  html{
    font-size: 15px;
  }
  
  @font-face {
    font-family: "Vazir";
    src: url('/static/assets/fonts/Vazir-Light-v16.woff');
    font-weight: normal;
    font-style: normal
  }

  .display-inline{
    display: inline !important;
  }


  .ui.grid{
    margin: 0;
  }

  .container{
    padding: 2rem;
  }

  .shortdivider{
    width: 10rem;
    margin: 0.5rem auto !important;
  }

  .ui.container{
    max-width: 1024px !important;
    padding: 0;
    margin: $headerHeight 0; 
  }