.myheader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: $headerHeight;
    border-bottom: 2px solid #424242;
    background-color: $headerbgcolor;
    z-index: 4;

    .ui.grid>.column:not(.row), .ui.grid>.row>.column {
        width: inherit;
    }

    .header-title{
        position: absolute;
        left: 10px;
        top: 8px;
        color: #EEEEEE;
    }

    .logout-btn{
        position: absolute;
        padding: 0.5rem 0.5rem 0.7rem 0.6rem !important;
        top: 2px;
        right: 10px;

        i.icon{
            color: white;
        }
    }
}