
body{
    // Default dark theme variables
    --primary-background: #212121;
    --primary-background-lighter-15: #3b3b3b;
    --primary-background-lighter-3: #292929;
    --primary-background-lighter-5: #545454;
    --primary-background-lighter-15-10: #616161;
    --primary-background-darker-5: #3b3b3b;
    --primary-background-darker-10: #080808;
    --primary-accent: #03a9f4;
    --foreground: #E0E0E0;
    --foreground-darker-55: #545454;
    --foreground-darker-30: #949494;
    --foreground-darker-20: #adadad;
  }
  
  // ------------------------------
  $red: #ef5350; // red 400
  $green: #009688; // teal 500
  $hBlue: #00699d;
  $darkBlue: #01579B; // light blue 900
  $moccasin: moccasin;
  $black: #000;
  
  @mixin atransition {
    transition: all .2s ease-in-out;
  }
  
  
  #main {
    position: fixed;
    background-color: var(--primary-background) !important;
    height: 100%;
    width: 100%;
    * {
      color: var(--foreground);
    }
    .required{
      color: red !important;
    }
  
    .ui.striped.table tbody tr:nth-child(2n), 
    .ui.striped.table > tr:nth-child(2n),
    .ui.accordion.styled > .content > div:nth-child(2n) {
      background-color: var(--primary-background-lighter-3);
    }
    
    .ui.striped.table tbody tr:nth-child(2n+1), 
    .ui.striped.table > tr:nth-child(2n+1),
    .ui.accordion.styled > .content > div:nth-child(2n+1)  {
      background-color: var(--primary-background);
    }
  
    .segment .ui.label{
      color: var(--foreground) !important;
      background-color: var(--primary-background-lighter-15) !important;
    }
  
    .ui.segment {
      -webkit-box-shadow: 0 1px 2px 0 var(--primary-background-lighter-15);
      box-shadow: 0 1px 2px 0 var(--primary-background-lighter-15);
      border: 1px solid var(--primary-background-lighter-15);
      background: var(--primary-background);
    }
  
    .ui.inverted.table {
      background: var(--primary-background-lighter-3);
      tbody tr td{
        color: var(--foreground) !important;
        .profile-expiredate{
          color: var(--foreground) !important;
        }
      }
    }
  
    i.bordered.icon {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  
    .content,
    .mainHeader,
    .sideBar {
      background-color: var(--primary-background);
      .menueButton {
        background-color: var(--primary-background-lighter-5);
        @include atransition;
        &:hover {
          background-color: var(--primary-background-lighter-15);
        }
      }
      .menueItems {
        @include atransition;
        &:hover {
          background-color: var(--primary-background-lighter-15);
        }
      }
      .darkActiveItem {
        div {
          background-color: var(--primary-background-lighter-3);
        }
      }
    }
    .sideBar,.mainHeader {
      border-color: var(--foreground-darker-55);
    }
    .ui.dropdown .menu {
      background: var(--primary-background);
    }
  
    .lightBackground {
      background-color: rgba(gray, 0.15);
    }
  
    input,
    .ui.form input, 
    input[type=text]:-webkit-autofill, 
    textarea:-webkit-autofill, 
    select:-webkit-autofill,
    .ui.form textarea,
    .ui.form .field > .dropdown,
    .ui.input input {
      background-color: transparent;
      border: 1px solid var(--primary-background-lighter-15) !important;
    }
    .ui.form input[type="file"] {
      border: 0;
    }
    .ui.selection.dropdown .menu > .item {
      border-color: var(--foreground);
    }
  
    .loginBack {
      .header {
        color: $black !important;
      }
      &:after {
        content: "";
        position: absolute;
        height: 610%;
        width: 280%;
        background-color: white;
        top: 0;
        left: 0;
        right: auto;
        z-index: -1;
      }
    }
  
    @media only screen and (max-width: 767px) {
      position: static;
      .loginBack {
        background: white;
        &:after {
          position: static;
          top: 0;
          margin-right: -35px;
        }
      }
    }
  
    @media only screen and (min-width: 767px) {
      .loginBack {
        &:after {
          top: -100%;
        }
      }
    }
  
    .modals *{
      color: white !important;
    }
  
    .error .ui.input input{
      border-color: red !important;
      background: #7a6060 !important;
      color: white !important;
    }
  
    .users-table, .servers-table, .cameras-table{
      th .ui.search input{
        background-color: var(--primary-background) !important;
      }
    } 
  
    .ui.accordion.styled{
      box-shadow: 0 1px 2px 0 grey, 0 0 0 1px grey;
      .title{
        background-color: var(--primary-background-lighter-15);
        &:hover{
          background-color: var(--primary-background-lighter-5) !important;
        }
        color: var(--foreground) !important;
        .server-title-text, .angle.icon{
          color: var(--foreground) !important;
        }
        border-top: 1px solid var(--primary-background-lighter-15);
      }
      .content{
        padding: 0 !important;
        & > div{
          border-top: 1px solid var(--primary-background-darker-5);
        }
      } 
    }
  
    i.blueTheme.icon {
      color: $hBlue !important;
    }
    .ui.blueTheme.button{
      background-color: $hBlue !important;
    }
  
    .ui.table thead{
      background: var(--primary-background-lighter-15) !important;
      tr th{
        background: var(--primary-background-lighter-15) !important;
        tr:first-child{
            background: var(--primary-background-lighter-15) !important;
        } 
      } 
    }
  
    // table borders --------------
    .ui.table tr td {
        border-top: 1px solid var(--primary-background-lighter-15) !important;
    }
  
    .ui.table {
        border: 1px solid var(--primary-background-lighter-15) !important;
    }
    .ui.structured.sortable.table thead tr th {
        border-left: 1px solid var(--primary-background-lighter-15) !important;
        border-right: 1px solid var(--primary-background-lighter-15) !important;
    }
  
    // Tab border color
    .ui.secondary.pointing.menu .active.item {
        border-color: var(--primary-accent);
    }
  
    .login-avatar{
      box-shadow: 0 0 1px 5px var(--primary-accent);
    }
  
    .servers-table, .cameras-table{
      .play, .refresh{
          color: var(--primary-accent)  !important;
      }
    }
  
    .avatar-name{
      .sidebar-avatar{
          box-shadow: 0 0 1px 2px var(--primary-accent);
      }
    }
  
    .profile-avatar{
        box-shadow: 0 0 1px 5px var(--primary-accent);;
    }
  
    .servers-table, .cameras-table{
      .dropdown, .cameras-server-more-dropdown{
          .menu{
              span{
                  color: var(--foreground) !important;
              }
              .item:hover {
                background-color: var(--primary-background-lighter-15);
              }
          }
      } 
    }
  
    .secondary-button{
      background: transparent;
      color: var(--foreground) !important;
      &:hover{
        background: var(--primary-background-lighter-15-10);
        color: var(--foreground);
      }
      &:active, &:focus{
        background: var(--primary-background-lighter-10);
      }
    }
  
    .primary-button{
      background: var(--primary-background-lighter-15) !important;
      color: var(--foreground) !important;
      &:hover{
        background: var(--primary-background-lighter-15-10);
        i.icon{
          color: var(--foreground) !important;
        }
      }
    }
  
    .more-dropdown-button{
      .menu > .item{
          border-top: 1px solid var(--primary-background-darker-10) !important;
      }
      .menu > .item:first-child{
          border-top: none !important;
      }
      .camera-ellipsis{
        color: var(--foreground) !important;
      }
    }
  
    .no-data{
      background: var(--primary-background-lighter-15) !important;
      color: var(--foreground) !important;
      border-top: 1px solid var(--primary-background-lighter-15-10);
    }
  }
  